.market-page-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 85vh;
}

.market-page-section {
  height: 500px;
  border: 3px solid black;
  background-color: #FFE7BF;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 30px;
}

.market-page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  text-align: center;
}

.market-page-name {
  font-size: 2em;
  text-decoration: underline;
}

.market-page-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.market-page-header {
  text-decoration: underline;
  margin: 5px 0px;
}

.products-p {
  width: 80%;
  text-align: center;
  margin: 5px 0px;
}
